*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#heading{
    height: 5rem;
    background-color: #081b31;
    color: white;
    line-height: 5rem;
}

.choice{
    height: 155px;
    width: 155px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.gameArena{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 50px;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 3rem;
}

#userScore , #compScore{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: white;
    display: inline;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
}
